.exit {
  width: 20px;
  height: 20px;
  position: relative;
  border: 2px solid black;
  top: -3rem;
  text-align: center;
  color: red;
  right: 25rem;
  transition: all 0.5s;
}
.exit:hover {
  cursor: pointer;
  border: 2px solid transparent;
  background-color: black;
  color: white;
}
