.cardContInCart {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: 30%;
}
.mainContOfPage2 {
  display: flex;
  justify-content: space-evenly;
  height: 98%;
}
.profInfo {
  position: absolute;
  border-bottom: 2px solid black;
  width: 350px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  right: 3rem;
}
.picture {
  width: 7rem;
  height: 7rem;
}
.balance {
  font-weight: bolder;
  width: 60px;
  height: 25px;
  text-align: center;
  transition: all 0.5s;
}
.balance:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
}
a {
  color: black;
  border: none;
  text-decoration: none;
}
.purch {
  height: 50px;
  width: 70px;
}
