.mainCont {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 1700px;
  position: fixed;
  top: 0;
  z-index: 12;
}
.mainCont input {
  width: 700px;
  height: 40px;
  font-size: 25px;
}
